@import "https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css";

/* glyph font */
@font-face {
	font-family: 'NMS-Glyphs-Mono';
	src: local('NMS-Glyphs-Mono'), url('../assets/NMS-Glyphs-Mono.ttf') format('truetype');
}

html,
body {
	font-family: sans-serif;
}

.container {
	margin-block-start: 2rem;
	max-width: 40rem;
}

nav {
	margin-block: 1rem;
}

nav button {
	width: auto;
}

.title {
	text-align: center;
	margin-block-end: 2rem;
}

.glyphs {
	font-family: 'NMS-Glyphs-Mono';
	font-size: 3rem;
}

.font-size-small {
	font-size: initial;
}
